<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title> Trang chủ</title>   
</head>
<body>
    <h1 class="m-5 p-4"> XIN CHÀO BẠN TỚI TRANG WEBSITE CỦA TÔI. XIN CẢM ƠN!  </h1>
</body>
</html>