<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      
    </title>
</head>
<body>
    <div class="">
        <table class="table border-dark table-bordered table-striped-custom">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Tài khoản</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Cấu hình</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th>1</th>
                <th>Vo Thanh Hien-2001084</th>
                <th>lml</th>
                <th>Nam</th>
                <th>lml@gmnail</th>
                <th>Hậu Giang</th>
                <th>Admin</th>
                <th>
                    <a href="/detail-user/Le Minh Luan " class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>

            </tbody>
        </table>
    </div>
    <div>
        <%=data.test%> -  <%=data.to%>
    </div>
</body>
</html>